body {
    background-color: #13010B;
    font-family: lobster;
}

.site-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 123px 200px;
    grid-gap: 10px;
    grid-template-areas:
        "nav nav nav nav"
        "alfred . profile-pic open-yo-mind"
        "reflection form form ."
        ". form form .";
    ;
}

/* Logo styles */

.logo picture img {
    grid-area: logo;
    width: 100%;
    height: 100%;
}

/* Nav styles */

.nav {
    grid-area: nav;
    background-color: #2E0219;
    border: 2px solid black;
    color: orange;
    text-align: center;
    font-size: 25px;
}

.nav h1 {
    font-size: 35px;
}

.nav a {
    font-size: 40px;
    color: orange;
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* Drawing styles */
/* alfred drawing */

.alfred {
    grid-area: alfred;
}

.alfred picture img {
    width: 242px;
    height: 353px;
    margin-left: 20px;
    margin-top: 20px;
}

/* reflection drawing */

.reflection {
    grid-area: reflection;
}

.reflection picture img {
    width: 242px;
    height: 353px;
    margin-left: 20px;
    margin-top: 125px;
}

/* OPEN YO MIND drawing */

.open-yo-mind {
    grid-area: open-yo-mind;
}

.open-yo-mind picture img {
    width: 242px;
    height: 353px;
    margin-left: 30px;
    margin-top: 20px;
}

/* Profile pic styles */

.profile-pic {
    grid-area: profile-pic;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-pic picture img {
    width: 100%;
    height: 100%;
}

/* Form styles */

.form h1 {
    text-align: center;
    font-size: 41px;
    color: white;
}

.form {
    grid-area: form;
    text-align: center;
    background-color: #2E0219;
    border: 2px solid black;
}